In [1]:
#import libraries
import numpy as np
import requests
import pandas as pd
import datetime

In [2]:
# Retrieve data via an API request
spacex_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/API_call_spacex_api.json'
response = requests.get(spacex_url)
print(response.status_code)  # 200

200

In [3]:
data = response.json()    # Convert the JSON response into a Python dictionary
df = pd.json_normalize(data)
df.head()

,static_fire_date_utc,static_fire_date_unix,tbd,net,window,rocket,success,details,crew,ships,...,links.reddit.media,links.reddit.recovery,links.flickr.small,links.flickr.original,links.presskit,links.webcast,links.youtube_id,links.article,links.wikipedia,fairings
0,2006-03-17T00:00:00.000Z,1.142554e+09,False,False,0.0,5e9d0d95eda69955f709d1eb,False,Engine failure at 33 seconds and loss of vehicle,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=0a_00nJ_Y88,0a_00nJ_Y88,https://www.space.com/2196-spacex-inaugural-fa...,https://en.wikipedia.org/wiki/DemoSat,NaN
1,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,False,Successful first stage burn and transition to ...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=Lk4zQ2wP-Nc,Lk4zQ2wP-Nc,https://www.space.com/3590-spacex-falcon-1-roc...,https://en.wikipedia.org/wiki/DemoSat,NaN
2,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,False,Residual stage 1 thrust led to collision betwe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=v0w9p3U8860,v0w9p3U8860,http://www.spacex.com/news/2013/02/11/falcon-1...,https://en.wikipedia.org/wiki/Trailblazer_(sat...,NaN
3,2008-09-20T00:00:00.000Z,1.221869e+09,False,False,0.0,5e9d0d95eda69955f709d1eb,True,Ratsat was carried to orbit on the first succe...,[],[],...,None,None,[],[],None,https://www.youtube.com/watch?v=dLQ2tZEH6G0,dLQ2tZEH6G0,https://en.wikipedia.org/wiki/Ratsat,https://en.wikipedia.org/wiki/Ratsat,NaN
4,None,NaN,False,False,0.0,5e9d0d95eda69955f709d1eb,True,None,[],[],...,None,None,[],[],http://www.spacex.com/press/2012/12/19/spacexs...,https://www.youtube.com/watch?v=yTaIDooc8Og,yTaIDooc8Og,http://www.spacex.com/news/2013/02/12/falcon-1...,https://en.wikipedia.org/wiki/RazakSAT,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   static_fire_date_utc       100 non-null    object
 1   static_fire_date_unix      100 non-null    float64
 2   tbd                        107 non-null    bool
 3   net                        107 non-null    bool
 4   window                     100 non-null    float64
 5   rocket                     107 non-null    object
 6   success                    107 non-null    bool
 7   details                    100 non-null    object
 8   crew                       107 non-null    object
 9   ships                      107 non-null    object
 10  capsules                   107 non-null    object
 11  payloads                   107 non-null    object
 12  launchpad                  107 non-null    object
 13  auto_update                107 non-null    bool
 14  failures                   107 non-null    object
 15  flight_number              107 non-null    int64
 16  name                       107 non-null    object
 17  date_utc                   107 non-null    object
 18  date_unix                  107 non-null    int64
 19  date_local                 107 non-null    object
 20  date_precision             107 non-null    object
 21  upcoming                   107 non-null    bool
 22  cores                      107 non-null    object
 23  id                         107 non-null    object
 24  fairings.reused            74 non-null     object
 25  fairings.recovery_attempt  80 non-null     object
 26  fairings.recovered         71 non-null     object
 27  fairings.ships             83 non-null     object
 28  links.patch.small          107 non-null    object
 29  links.patch.large          107 non-null    object
 30  links.reddit.campaign      79 non-null     object
 31  links.reddit.launch        97 non-null     object
 32  links.reddit.media         83 non-null     object
 33  links.reddit.recovery      39 non-null     object
 34  links.flickr.small         107 non-null    object
 35  links.flickr.original      107 non-null    object
 36  links.presskit             90 non-null     object
 37  links.webcast              107 non-null    object
 38  links.youtube_id           107 non-null    object
 39  links.article              104 non-null    object
 40  links.wikipedia            106 non-null    object
 41  fairings                   0 non-null      float64
dtypes: bool(5), float64(3), int64(2), object(32)
memory usage: 31.6+ KB

In [5]:
df.describe()

,static_fire_date_unix,window,flight_number,date_unix,fairings
count,1.000000e+02,100.000000,107.000000,1.070000e+02,0.0
mean,1.499305e+09,2553.900000,54.000000,1.494051e+09,NaN
std,8.414133e+07,4108.909732,31.032241,9.692164e+07,NaN
min,1.142554e+09,0.000000,1.000000,1.143239e+09,NaN
25%,1.465406e+09,0.000000,27.500000,1.458641e+09,NaN
50%,1.516898e+09,0.000000,54.000000,1.517434e+09,NaN
75%,1.556707e+09,5595.000000,80.500000,1.560891e+09,NaN
max,1.605111e+09,18300.000000,107.000000,1.605486e+09,NaN

In [6]:
df['cores'][0]

[{'core': '5e9e289df35918033d3b2623',
  'flight': 1,
  'gridfins': False,
  'legs': False,
  'reused': False,
  'landing_attempt': False,
  'landing_success': None,
  'landing_type': None,
  'landpad': None}]

In [7]:
rocket_id = df['rocket'][0]
response = requests.get(f"https://api.spacexdata.com/v4/rockets/{rocket_id}").json()

print(response)

{'height': {'meters': 22.25, 'feet': 73}, 'diameter': {'meters': 1.68, 'feet': 5.5}, 'mass': {'kg': 30146, 'lb': 66460}, 'first_stage': {'thrust_sea_level': {'kN': 420, 'lbf': 94000}, 'thrust_vacuum': {'kN': 480, 'lbf': 110000}, 'reusable': False, 'engines': 1, 'fuel_amount_tons': 44.3, 'burn_time_sec': 169}, 'second_stage': {'thrust': {'kN': 31, 'lbf': 7000}, 'payloads': {'composite_fairing': {'height': {'meters': 3.5, 'feet': 11.5}, 'diameter': {'meters': 1.5, 'feet': 4.9}}, 'option_1': 'composite fairing'}, 'reusable': False, 'engines': 1, 'fuel_amount_tons': 3.38, 'burn_time_sec': 378}, 'engines': {'isp': {'sea_level': 267, 'vacuum': 304}, 'thrust_sea_level': {'kN': 420, 'lbf': 94000}, 'thrust_vacuum': {'kN': 480, 'lbf': 110000}, 'number': 1, 'type': 'merlin', 'version': '1C', 'layout': 'single', 'engine_loss_max': 0, 'propellant_1': 'liquid oxygen', 'propellant_2': 'RP-1 kerosene', 'thrust_to_weight': 96}, 'landing_legs': {'number': 0, 'material': None}, 'payload_weights': [{'id': 'leo', 'name': 'Low Earth Orbit', 'kg': 450, 'lb': 992}], 'flickr_images': ['https://imgur.com/DaCfMsj.jpg', 'https://imgur.com/azYafd8.jpg'], 'name': 'Falcon 1', 'type': 'rocket', 'active': False, 'stages': 2, 'boosters': 0, 'cost_per_launch': 6700000, 'success_rate_pct': 40, 'first_flight': '2006-03-24', 'country': 'Republic of the Marshall Islands', 'company': 'SpaceX', 'wikipedia': 'https://en.wikipedia.org/wiki/Falcon_1', 'description': 'The Falcon 1 was an expendable launch system privately developed and manufactured by SpaceX during 2006-2009. On 28 September 2008, Falcon 1 became the first privately-developed liquid-fuel launch vehicle to go into orbit around the Earth.', 'id': '5e9d0d95eda69955f709d1eb'}

In [8]:
# Uses the rocket column to call the SpaceX API and append the rocket name to the list 
def getBoosterVersion(df):
    BoosterVersion = []
    for rocket_id in df['rocket']:
        if rocket_id:
            response = requests.get(f"https://api.spacexdata.com/v4/rockets/{rocket_id}").json()
            BoosterVersion.append(response.get('name'))
        else:
            BoosterVersion.append(None)
    return BoosterVersion

In [9]:
launchpad_id = df['launchpad'][0]
response = requests.get("https://api.spacexdata.com/v4/launchpads/" + launchpad_id).json()
print(response)

{'images': {'large': ['https://i.imgur.com/GGPgsVs.png']}, 'name': 'Kwajalein Atoll', 'full_name': 'Kwajalein Atoll Omelek Island', 'locality': 'Omelek Island', 'region': 'Marshall Islands', 'latitude': 9.0477206, 'longitude': 167.7431292, 'launch_attempts': 5, 'launch_successes': 2, 'rockets': ['5e9d0d95eda69955f709d1eb'], 'timezone': 'Pacific/Kwajalein', 'launches': ['5eb87cd9ffd86e000604b32a', '5eb87cdaffd86e000604b32b', '5eb87cdbffd86e000604b32c', '5eb87cdbffd86e000604b32d', '5eb87cdcffd86e000604b32e'], 'status': 'retired', 'details': "SpaceX's original pad, where all of the Falcon 1 flights occurred (from 2006 to 2009). It would have also been the launch site of the Falcon 1e and the Falcon 9, but it was abandoned as SpaceX ended the Falcon 1 program and decided against upgrading it to support Falcon 9, likely due to its remote location and ensuing logistics complexities.", 'id': '5e9e4502f5090995de566f86'}

In [10]:
# Takes the dataset and uses the launchpad column to call the API and append the data to the list
def getLaunchSite(data):

    Longitude = []
    Latitude = []
    LaunchSite = []
    
    for x in data['launchpad']:
        if x is not None:
            response = requests.get("https://api.spacexdata.com/v4/launchpads/" + str(x)).json()
            Longitude.append(response.get('longitude'))
            Latitude.append(response.get('latitude'))
            LaunchSite.append(response.get('name'))
    return Longitude, Latitude, LaunchSite

In [11]:
payload_id = df['payloads'][0][0]
response = requests.get("https://api.spacexdata.com/v4/payloads/" + payload_id).json()
print(response)

{'dragon': {'capsule': None, 'mass_returned_kg': None, 'mass_returned_lbs': None, 'flight_time_sec': None, 'manifest': None, 'water_landing': None, 'land_landing': None}, 'name': 'FalconSAT-2', 'type': 'Satellite', 'reused': False, 'launch': '5eb87cd9ffd86e000604b32a', 'customers': ['DARPA'], 'norad_ids': [], 'nationalities': ['United States'], 'manufacturers': ['SSTL'], 'mass_kg': 20, 'mass_lbs': 43, 'orbit': 'LEO', 'reference_system': 'geocentric', 'regime': 'low-earth', 'longitude': None, 'semi_major_axis_km': None, 'eccentricity': None, 'periapsis_km': 400, 'apoapsis_km': 500, 'inclination_deg': 39, 'period_min': None, 'lifespan_years': None, 'epoch': None, 'mean_motion': None, 'raan': None, 'arg_of_pericenter': None, 'mean_anomaly': None, 'id': '5eb0e4b5b6c3bb0006eeb1e1'}

In [12]:
# Takes the dataset and uses the payloads column to call the API
# and append payload mass and orbit type to the lists
def getPayloadData(data):

    PayloadMass = []
    Orbit = []
    for load in data['payloads']:
        if load is not None:
            response = requests.get("https://api.spacexdata.com/v4/payloads/" + load).json()
            PayloadMass.append(response.get('mass_kg'))
            Orbit.append(response.get('orbit'))

    return PayloadMass,Orbit

In [13]:
core_id = df['cores'][0][0]['core']
response = requests.get("https://api.spacexdata.com/v4/cores/" + core_id).json()
print(response)

{'block': None, 'reuse_count': 0, 'rtls_attempts': 0, 'rtls_landings': 0, 'asds_attempts': 0, 'asds_landings': 0, 'last_update': 'Engine failure at T+33 seconds resulted in loss of vehicle', 'launches': ['5eb87cd9ffd86e000604b32a'], 'serial': 'Merlin1A', 'status': 'lost', 'id': '5e9e289df35918033d3b2623'}

In [14]:
# Retrieve core details from the SpaceX API using core IDs
def getCoreData(data):
    Block = []
    ReusedCount = []
    Serial = []
    Outcome = []
    Flights = []
    GridFins = []
    Reused = []
    Legs = []
    LandingPad = []
    
    for core in data['cores']:
        # Check if a core ID exists
        if core['core'] is not None:
            # Call the SpaceX API to get detailed core information
            response = requests.get(
                "https://api.spacexdata.com/v4/cores/" + core['core']
            ).json()
            
            # Append relevant fields to the lists
            Block.append(response.get('block'))
            ReusedCount.append(response.get('reuse_count'))
            Serial.append(response.get('serial'))
        else:
            # Append None if no core ID is available
            Block.append(None)
            ReusedCount.append(None)
            Serial.append(None)

# extract launch-level info directly from the launch data
    for core in data['cores']:
        Outcome.append(str(core.get('landing_success')) + ' ' + str(core.get('landing_type')))
        Flights.append(core.get('flight'))
        GridFins.append(core.get('gridfins'))
        Reused.append(core.get('reused'))
        Legs.append(core.get('legs'))
        LandingPad.append(core.get('landpad'))

 # Return all lists
    return Block, ReusedCount, Serial, Outcome, Flights, GridFins, Reused, Legs, LandingPad

In [15]:
df = df[['rocket', 'payloads', 'launchpad', 'cores', 'flight_number', 'date_utc']]

# We will remove rows with multiple cores because those are falcon rockets with 2 extra rocket boosters and rows that have multiple payloads in a single rocket.
df = df[df['cores'].map(len)==1]
df = df[df['payloads'].map(len)==1]

# Since payloads and cores are lists of size 1 we will also extract the single value in the list and replace the feature.
df['cores'] = df['cores'].map(lambda x : x[0])
df['payloads'] = df['payloads'].map(lambda x : x[0])

df['date'] = pd.to_datetime(df['date_utc']).dt.date

df = df[df['date'] <= datetime.date(2020, 11, 13)]

print(df.head())

                     rocket                  payloads  \
0  5e9d0d95eda69955f709d1eb  5eb0e4b5b6c3bb0006eeb1e1
1  5e9d0d95eda69955f709d1eb  5eb0e4b6b6c3bb0006eeb1e2
3  5e9d0d95eda69955f709d1eb  5eb0e4b7b6c3bb0006eeb1e5
4  5e9d0d95eda69955f709d1eb  5eb0e4b7b6c3bb0006eeb1e6
5  5e9d0d95eda69973a809d1ec  5eb0e4b7b6c3bb0006eeb1e7

                  launchpad  \
0  5e9e4502f5090995de566f86
1  5e9e4502f5090995de566f86
3  5e9e4502f5090995de566f86
4  5e9e4502f5090995de566f86
5  5e9e4501f509094ba4566f84

                                               cores  flight_number  \
0  {'core': '5e9e289df35918033d3b2623', 'flight':...              1
1  {'core': '5e9e289ef35918416a3b2624', 'flight':...              2
3  {'core': '5e9e289ef3591855dc3b2626', 'flight':...              4
4  {'core': '5e9e289ef359184f103b2627', 'flight':...              5
5  {'core': '5e9e289ef359185f2b3b2628', 'flight':...              6

                   date_utc        date
0  2006-03-24T22:30:00.000Z  2006-03-24
1  2007-03-21T01:10:00.000Z  2007-03-21
3  2008-09-28T23:15:00.000Z  2008-09-28
4  2009-07-13T03:35:00.000Z  2009-07-13
5  2010-06-04T18:45:00.000Z  2010-06-04

In [17]:
# Booster Version
BoosterVersion = getBoosterVersion(df)

# Launch Site
Longitude, Latitude, LaunchSite = getLaunchSite(df)

# Payload Data
PayloadMass, Orbit = getPayloadData(df)

# Core Data
Block, ReusedCount, Serial, Outcome, Flights, GridFins, Reused, Legs, LandingPad = getCoreData(df)

In [18]:
launch_dict = {'FlightNumber': list(df['flight_number']),
'Date': list(df['date']),
'BoosterVersion':BoosterVersion,
'PayloadMass':PayloadMass,
'Orbit':Orbit,
'LaunchSite':LaunchSite,
'Outcome':Outcome,
'Flights':Flights,
'GridFins':GridFins,
'Reused':Reused,
'Legs':Legs,
'LandingPad':LandingPad,
'Block':Block,
'ReusedCount':ReusedCount,
'Serial':Serial,
'Longitude': Longitude,
'Latitude': Latitude}

In [20]:
dataframe = pd.DataFrame(launch_dict)

In [22]:
data_falcon9 = dataframe[dataframe['BoosterVersion'] != 'Falcon 1'].copy()  
data_falcon9.reset_index(drop=True, inplace=True)  

# Reset FlightNumber column
data_falcon9['FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))

print(data_falcon9.head())

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9          NaN   LEO  CCSFS SLC 40
1             2  2012-05-22       Falcon 9        525.0   LEO  CCSFS SLC 40
2             3  2013-03-01       Falcon 9        677.0   ISS  CCSFS SLC 40
3             4  2013-09-29       Falcon 9        500.0    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9       3170.0   GTO  CCSFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False       None    1.0
1    None None        1     False   False  False       None    1.0
2    None None        1     False   False  False       None    1.0
3  False Ocean        1     False   False  False       None    1.0
4    None None        1     False   False  False       None    1.0

   ReusedCount Serial   Longitude   Latitude
0            0  B0003  -80.577366  28.561857
1            0  B0005  -80.577366  28.561857
2            0  B0007  -80.577366  28.561857
3            0  B1003 -120.610829  34.632093
4            0  B1004  -80.577366  28.561857

In [23]:
# Replace missing PayloadMass with mean
mean_payload = data_falcon9['PayloadMass'].mean()
data_falcon9['PayloadMass'].replace(np.nan, mean_payload, inplace=True)

# Verify missing values are gone for PayloadMass
print(data_falcon9['PayloadMass'].isnull().sum())

# LandingPad can remain None
print(data_falcon9['LandingPad'].isnull().sum())

0
26

In [24]:
# Export to CSV
data_falcon9.to_csv('dataset_part_1.csv', index=False)